// left
.left {
    height: 100vh;
    padding: 32px;
    padding-bottom: 0px;
    background: #f8f9fa;
  }
  .brand {
    margin-bottom: 32px;
  }
  .nav-tab:hover{
    border-left:#198754 2px solid;
    color:#198754
  }